:root {
  /* Anakiwa Colors */
  --anakiwa-50: #f2fafd;
  --anakiwa-100: #e4f3fa;
  --anakiwa-200: #c2e8f5;
  --anakiwa-300: #a3dff0;
  --anakiwa-400: #50c3e0;
  --anakiwa-500: #29acce;
  --anakiwa-600: #1a8baf;
  --anakiwa-700: #166f8e;
  --anakiwa-800: #175e75;
  --anakiwa-900: #184f62;
  --anakiwa-950: #103241;

  /* Base Colors */
  --base-light: #a3dff0;
  --base-dark: #002c00;
  --base-accent: #e3533a;
  --base-gray: #f6f7f7;
  --base-dark-gray: #161618;
  --base-primary: #50c3e0;

  font-family: "DM Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: var(--anakiwa-50);
  background-color: var(--anakiwa-800);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--base-primary);
  text-decoration: inherit;
}
a:hover {
  color: var(--anakiwa-300);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--anakiwa-900);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--base-primary);
}
button:focus,
button:focus-visible {
  outline: 4px auto var(--base-primary);
}
